<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jQuery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <title>Show Local Weather</title>
</head>

<body
  class="bg-dark vw-100 d-flex justify-content-center align-items-center vh-100 flex-column text-light pb-5 container text-center">
  <header class="mb-5">
    <h1 class="fw-bold display-3">nkp1111 Weather App</h1>
  </header>

  <main>
    <div class="d-flex">
      <h2 class="display-5 mx-3">
        <%=weather.weather[0].main %>
      </h2>
      <img src="<%=weather.weather[0].icon%>" alt=<%=`${weather.weather[0].main}`%> class="mx-3">
    </div>

    <p class="display-6">
      <%=weather.main.temp%> <span class="text-primary">&#8451;</span>
    </p>
    <p class="fs-4">
      <%=weather.name%>, <%= weather.sys.country %>
    </p>
  </main>
</body>

</html>